# -------------------------------
# Archivos del sistema operativo
# -------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------
# Archivos compilados / binarios
# -------------------------------
# Java
*.class
*.jar
*.war
*.ear

# C/C++
*.exe
*.out
*.o
*.obj

# C#
*.dll
*.pdb
*.exe
*.obj
*.user
*.suo

# Python
*.pyc
__pycache__/

# Node / JavaScript
node_modules/
dist/
build/
*.log

# -------------------------------
# IDE / Editor
# -------------------------------
# VSCode
.vscode/

# Eclipse
.project
.settings/
.classpath

# Visual Studio
*.user
*.suo
*.vcxproj.user
*.ncb
*.opensdf
*.sdf
*.ipch
*.aps
*.ilk
*.pdb

# Otros
*.swp
*.tmp
*.bak
